{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau contact{% endblock %}

{% block body %}
    <h1>Créer un nouveau contact</h1>

    {{ include('crud_contact/_form.html.twig') }}

    <a href="{{ path('c_r_u_d_contact_index') }}"class="btn btn-primary">Retour à la liste des contacts</a>
{% endblock %}
