{% extends 'base.html.twig' %}

{% block title %}Hello TLUFrontController!{% endblock %}

{% block body %}
    <h1 style="text-align: center">Bienvenue sur The Last Of Us Fan</h1>

    <img src="https://cdn-europe1.lanmedia.fr/var/europe1/storage/images/europe1/culture/the-last-of-us-part-ii-est-ce-vraiment-le-meilleur-jeu-video-de-lannee-3975781/55315236-1-fre-FR/The-Last-of-Us-Part-II-est-ce-vraiment-le-meilleur-jeu-video-de-l-annee.png" style="width: 100%">
    <p></p>


{% endblock %}
