{% extends 'base.html.twig' %}

{% block title %}Hello TLUFrontController!{% endblock %}

{% block body %}
    <h2 style="text-align: center; margin-top: 5%" class="text-center ">Vidéos Funny</h2>
    <div class="liste" style="justify-content: center; margin-left: 2%">
        <a href="/video1"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Parodie</button></a>
        <br>
        <a href="/video2"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Exploi rare</button></a>
        <br>
        <a href="/video3"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Funny</button></a>
        <br>
        <a href="/video4"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Easter egg</button></a>
        <br>
        <a href="/video5"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Acteur</button></a>
        <br>
        <a href="/video6"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Fail</button></a>
        <br>
    </div>
{% endblock %}