{% extends 'base.html.twig' %}

{% block title %}Hello TLUFrontController!{% endblock %}

{% block body %}
    <h2 style="text-align: center; margin-top: 5% " class="text-center ">Kill/Gameplay</h2>
    <div class="liste"style="justify-content: center; margin-left: 3%">
        <a href="/video14"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Arc</button></a>
        <br>
        <a href="/video15"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Révolver</button></a>
        <br>
        <a href="/video16"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Arbalète</button></a>
        <br>
    </div>
    <div class="liste"style="justify-content: center; margin-left: 3%">
        <a href="/video20"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Lance flamme</button></a>
        <br>
        <a href="/video18"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Fusil semi-automatique</button></a>
        <br>
        <a href="/video19"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Fusil à pompe</button></a>
        <br>
    </div>
    <div class="liste"style="justify-content: center; margin-left: 3%">
        <a href="/video22"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Fusil de précision</button></a>
        <br>
        <a href="/video21"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Pistolet semi-automatique</button></a>
        <br>
        <a href="/video23"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Corps à corps</button></a>
        <br>
    </div>
    <div class="liste"style="justify-content: center; margin-left: 3%">
        <a href="/video17"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Pistolet de chasse</button></a>
        <br>
        <a href="/video24"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Full-Kill toutes armes confondues</button></a>
        <br>
        <a href="/video25"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Headshot</button></a>
    </div>


{% endblock %}