{% extends 'base.html.twig' %}

{% block title %}Hello TLUFrontController!{% endblock %}

{% block body %}
    <h2 style="text-align: center; margin-top: 5% " class="text-center ">Découverte et jeux en entier</h2>
    <div class="liste" style="justify-content: center; margin-left: 1%">
        <a href="/video10"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Let's play</button></a>
        <br>
        <a href="/video11"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Résumé</button></a>
        <br>
        <a href="/video12"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Cinématique</button></a>
        <br>
        <a href="/video13"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Bande d'annonce</button></a>
        <br>
    </div>

{% endblock %}
