{% extends 'base.html.twig' %}

{% block title %}Hello TLUFrontController!{% endblock %}

{% block body %}

    <h2 style="text-align: center; margin-top: 5% " class="text-center ">Musique</h2>
    <div class="liste" style="justify-content: center; margin-left: 3%">
        <a href="/video7"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Crédit</button></a>
        <br>
        <a href="/video9"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Musique Chill</button></a>
        <br>
        <a href="/video8"class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">Musique</button></a>
        <br>
    </div>
{% endblock %}