{% extends 'base.html.twig' %}

{% block title %}Hello TLUFrontController!{% endblock %}

{% block body %}
    <h2 style="text-align: center; margin-top: 5%" class="text-center ">Gameplay/Système de jeu</h2>
    <div class="liste" style="justify-content: center; margin-left: 2%">
        <a href="/article4" class="text-light" style="margin-right: 4%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">GAMEPLAY</button></a>
        <br>
        <a href="/article5" class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">SYSTEME DE JEU</button></a>
        <br>
    </div>
{% endblock %}