{% extends 'base.html.twig' %}

{% block title %}Hello TLUFrontController!{% endblock %}

{% block body %}

    <h1 style="text-align: center; margin-bottom: 5%" class="text-center ">Liste des catégories d'articles</h1>
    <h2 style="text-align: center" class="text-center ; margin-top: 3%">Personnages/Doubleur</h2>
    <div class="liste" style="justify-content: center; margin-left: 2%">
        <a class="text-light" style="margin-right: 5%" href="/article1"  ><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">PERSONNAGES</button></a>
        <br>
        <a href="/article12" class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">DOUBLEUR</button></a>
    </div>
    <h2 style="text-align: center; margin-top: 5%" class="text-center ">Histoire/Univers</h2>
    <div class="liste" style="justify-content: center; margin-left: 2%">
        <a href="/article3" class="text-light" style="margin-right: 10%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">HISTOIRE</button></a>
        <br>
        <a href="/article2" class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">UNIVERS</button></a>
        <br>
    </div>
    <h2 style="text-align: center; margin-top: 5%" class="text-center ">Gameplay/Système de jeu</h2>
    <div class="liste" style="justify-content: center; margin-left: 2%">
        <a href="/article4" class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">GAMEPLAY</button></a>
        <br>
        <a href="/article5" class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">SYSTEME DE JEU</button></a>
        <br>
    </div>
    <h2 style="text-align: center; margin-top: 5%" class="text-center ">Récompence/Critique</h2>
    <div class="liste" style="justify-content: center; margin-left: 2%">
        <a href="/article6" class="text-light" style="margin-right: 7%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">RECOMPENCE</button></a>
        <br>
        <a href="/article7" class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">CRITIQUE</button></a>
        <br>
    </div>
    <h2 style="text-align: center; margin-top: 5% " class="text-center">A propos de/News</h2>
    <div class="liste" style="justify-content: center; margin-left: 2%">
        <a href="/article10" class="text-light" style="margin-right: 9%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">A PROPOS DE</button></a>
        <br>
        <a href="/article11" class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">NEWS</button></a>
    </div>
    <h2 style="text-align: center; margin-top: 5%" class="text-center ">Jeux similaire/Produit dérivé</h2>
    <div class="liste" style="justify-content: center; margin-left: 2%">
        <a href="/article8" class="text-light" style="margin-right: 3%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">JEUX SIMILAIRE</button></a>
        <br>
        <a href="/article9" class="text-light" style="margin-right: 5%"><button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: orange; color: white; margin-bottom: 20px; margin-top: 20px">PRODUIT DERIVE</button></a>
        <br>
    </div>
    <p></p>
{% endblock %}