<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Etez-vous sûr de supprimer cet utilisateur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: #F45F5F; color: white; margin-bottom: 20px; margin-top: 20px">Supprimer</button>
</form>
